.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
ENV/
env/
venv/
ENV.bak/
env.bak/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.sqlite3
db.sqlite3
staticfiles/
node_modules/
